/* Reset CSS & tipografia & fondo */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: url(../images/bg-body.png); /* Imagen de fondo */
  background-attachment: fixed; /* No se mueve el fondo cuando se scrollea */
}

a { /* que mis enlaces no tengan subrayado*/
  text-decoration: none;
}

img {
  width: 100%; /* Para que todas las imagenes se adapten 100% al contenedor*/ /*TIP RESPONSIVE*/
}

/* Personalizacion */

.container {
  width: 95%; /* aplicar ancho 95% para generar un espacio a los costados*/
  margin: auto;
}

.logo {
  border-radius: 50%; /* Bordes en las esquinas. Si es 50% me genera un circulo */
  border: solid 1px #ccc;
  margin: 30px auto;
  display: block; /* el margin auto funciona solo en bloques */
  box-shadow: 0 0 5px #000000; /* Sombra para la caja. Recibe 4 valores: eje horizontal(+ derecha) eje vertical(+ hacia abajo) difusion color*/
  max-width: 140px; /* porque se inicio que todas las imagenes tenga width 100%, el logo no lo quiero 100%*/
}

.toggle-nav { /*borde del icono del nav */
  background-color: #333;
  display:block;
  width: 45px;
  text-align: center;
  padding: 10px 0;
  margin: auto;
  margin-bottom: 15px;
}

.main-nav ul { /*ocultar el navegador tal como es*/
  display:none;
  margin-bottom: 15px;
}

.ion-navicon-round { /* icono del nav */
  color: #fff;
  font-size: 25px;
}

ol, ul{ /*como mi nav y mi footer son listas, le quito a todas las listas y no a cada una*/
  list-style: none; /* Le quitos los puntitos del ul*/
  padding: 0; /* Le quito el espacio que ocupaba los puntitos */
  margin: 0; /* lo reseteo porque me deja un espacio abajo de la lista*/
}

.main-nav a{
  display: block;
  background-color: #333;
  color: #fff;
  font-size: 1.8em;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #333;
  padding: 15px;
}

.banner { /* En nuestro dispositivo movil no se va a ver el banner*/
  display: none;
}

.product {
  margin-bottom: 15px;
}

.product a {
  display: inline-block; /* si ponemos block, va a ocupar todo el ancho. Se puede hacer block y luego ponerle el tamaño de ancho pero si hacemos esto, en caso de que se haga en varios idiomas, el idioma que tenga mas caracteres va a rebalsar */
  background-color: #333;
  color: #fff;
  font-size: 1.2em;
  padding: 1em;
}

.main-footer {
  background-color: red;
  border-radius: 20px 20px 0 0;
}

.main-footer a{
  display:block;
  color: #fff;
  font-size: 1.1em;
  text-align: center;
  padding: 1em;
  border-bottom: solid 1px #fff;
}

@media (min-width: 640px) {
  .container {
    width: 100%;
  }
  .toggle-nav {
    display: none;
  }
  .main-nav ul {
    display: block !important; /*Le agrego important para que me aplique pq sino no me aplica por jerarquia a mismo nivel*/
  }
  .main-nav li {
    float: left;
    width:15.0066%;
    margin:0 0.83%;
    margin-bottom: 20px;
    overflow: hidden;
  }
  /*li:last-child {
    margin: 0;
  }*/

  .main-nav a {
    font-size: 1em;
    text-align: center;
  }

  .banner {
    display: block;
    margin: 30px 0.83%;
  }

  .product {
    width: 48.34%;
    float: left;
    margin:0 0.83%;
    margin-bottom: 2.5%;
  }

  .vip-products {
    overflow: hidden;
  }

@media (min-width: 960px) {
  .product {
    width: 31.66%;
  }
  .main-footer ul {
    text-align: center;
    padding: 15px;
  }
  .main-footer li {
    display: inline-block; /*No los floto pq: 1. No hace falta q cumplan un tamaño fijo 2.No lo puedo centrar si floto*/
    border-right: solid 1px rgba(255,255,255, 0.5);
  }
  .main-footer a {
    border: none;
    padding: 5px;
  }
  .main-footer li:last-child {
    border-right: none;
  }
}

}
